 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  min-height: 264px;
  background-image: url("images/1643994294629.jpg");
  background-position: 50% 31.59%;
}

.u-section-1 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  width: 337px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 170px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 151px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 15px;
    margin-right: -11px;
    margin-left: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 685px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 35px 0;
}

.u-section-2 .u-text-1 {
  margin: 98px 0 0;
}

.u-section-2 .u-text-2 {
  margin: -25px auto 0 52px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 520px;
  background-image: url("images/Map1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-2 .u-image-1 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 438px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-image-1 {
    min-height: 276px;
  }
}